<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '380px' }">
    <button mat-icon-button (click)="sidenav.toggle(); markAsUntouched(false)">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="m-4">
      <slider-url-form [resetFormOnClose]="touched()"></slider-url-form>
    </div>

    <slider-dashboard-list></slider-dashboard-list>
  </mat-sidenav>

  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    class="m-1 z-3 position-absolute"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>

  <router-outlet></router-outlet>
</mat-sidenav-container>
