/* You can add global styles to this file, and also import other style files */
body {
  background: rgb(94,99,149);
  background: radial-gradient(circle, rgba(94,99,149,1) 0%, rgb(21, 32, 71) 100%);
  color: rgb(192, 192, 192);
}

.swiper {
  width: 600px;
  height: 300px;
}

iframe {
  width: 100vw;
  height: 100vh;
}

