/* You can add global styles to this file, and also import other style files */

body {
  background: rgb(46, 46, 46);
  background: radial-gradient(circle, rgb(48, 48, 48) 0%, rgb(31, 31, 31) 100%);
  color: rgb(24, 24, 24);
}

.swiper {
  width: 600px;
  height: 300px;
}

iframe {
  width: 100vw;
  height: 100vh;
  display: block;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
