<!-- Link Input -->
 <div class="">
   <form [formGroup]="urlForm" (ngSubmit)="saveDashboardURL()">
     <mat-form-field appearance="outline" style="width: 300px;">
       <input
         matInput
         formControlName="url"
         type="text"
         placeholder="Add Metabase URL..."
       />
     </mat-form-field>
     @if ( isValidUrl('url') ) {
     <button mat-flat-button color="warn" (click)="cleanForm()">
       Debe ser una URL de Metabase
     </button>
     }
   </form>

 </div>
