<!-- List Links -->
<ul class="list-group mt-3"  *ngFor="let dashboard of dashboardsList; let i = index">
  <div class="input-group">
    <!-- <button
      class="btn btn-primary"
      type="button"
      id="button-addon1">Go
    </button> -->
    <input
      disabled="true"
      type="text"
      class="form-control"
      [placeholder]="'Dashboard '+ (i+1)"
      aria-describedby="button-addon2">
    <button
      class="btn btn-secondary"
      type="button"
      id="button-addon2"
      (click)="deleteDashboard(i)">x
    </button>
  </div>
</ul>
